#!/usr/bin/make -f
#export DH_VERBOSE=1
# This is the debhelper compatability version to use.

MY_MAKEFLAGS=
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  NUMJOBS=$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  MY_MAKEFLAGS=-j$(NUMJOBS)
endif

#export DH_COMPAT=3
APPNAME := radeon-profile-daemon
DESTDIR := $(CURDIR)/debian/$(APPNAME)

builddir:
	mkdir -p builddir

builddir/Makefile: builddir
	cd builddir && qmake PREFIX=/usr ../$(APPNAME)/$(APPNAME).pro

build: build-stamp

build-stamp: builddir/Makefile
	# Build process
	cd builddir && make $(MY_MAKEFLAGS)
	# End of build process

	touch $@

clean:
		dh_testdir
		dh_testroot
		rm -f build-stamp
		# Add here commands to clean up after the build process.
		dh_clean

install: build
		dh_testdir
		dh_testroot
		dh_prep
		dh_installdirs
		dh_installsystemd
		dh_installtmpfiles
		install -pdm755 $(DESTDIR)/usr/bin
		###  Systemd directories
		install -pdm755 $(DESTDIR)/lib/systemd/system
		install -pdm755 $(DESTDIR)/usr/lib/tmpfiles.d
		###  Copy radeon-profile-daemon
		install -Dm755 $(CURDIR)/builddir/target/$(APPNAME) $(DESTDIR)/usr/bin/

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
		dh_testdir
		dh_testroot
		dh_installdocs
		dh_installexamples
		dh_installman
		dh_link
		#dh_strip --dbg-package=my-application-dbg
		dh_compress
		dh_fixperms
		dh_installdeb
		dh_shlibdeps
		dh_gencontrol
		dh_md5sums
		dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
